<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Countries information</title>
    <style>

        .table {
            border: 2px solid black;
            padding: 5px;
        }
        table {
            border-collapse: collapse !important;
}

        table, td, th {
            border: 1px solid black !important;
}
        h1 {
            text-align: center;
        }

    </style>
</head>
<body>

<h1>Countries information</h1>

{#<ol>#}
{#    {%  for Country in data%}#}
{##}
{#    <li>{{ Country.Country }}</li>#}
{#        <li>{{ Country.Capital }}</li>#}
{#        <li>{{ Country.Population }}</li>#}
{#    {%  endfor %}#}
{#</ol>#}


<div class="container">

     <h2>Country Information</h2>
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>Country</th>
                    <th>Capital</th>
                    <th>Population</th>
                </tr>
            </thead>
            <tbody>
            {%  for Country in data%}
                <tr>
                    <td a href="ireland.jpg">{{ Country.Country }}</td>
                    <td>{{ Country.Capital }}</td>
                    <td>{{ Country.Population }}</td>
                </tr>
            {%  endfor %}
             </tbody>
        </table>
</div>

</body>
</html>