<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Hello World</title>
    <style>
      h1 {
            text-align: center;
        }
    </style>
</head>
<body>

<h1>This is the hello world heading</h1>

{#<ol>#}
{#    {%  for Country in data%}#}
{##}
{#    <li>{{ Country.Country }}</li>#}
{#        <li>{{ Country.Capital }}</li>#}
{#        <li>{{ Country.Population }}</li>#}
{#    {%  endfor %}#}
{#</ol>#}




</body>
</html>